<div class="card card-infos">
    <span class="card-title">
        Customer card
        {% if is_granted('ROLE_STAFF') %}
            <a href="#modal1" class="btn-floating btn-large waves-effect waves-light retro-rose right modal-trigger" id="modify-card">
                <i class="large material-icons">mode_edit</i>
            </a>
        {% endif %}
    </span>
    {% if customer.card %}
        <div class="row">
            <div class="col xl3">
                <p class="card-number">Card n° {{ card.number }} </p></div>
            <div class="col xl9">
                <table>
                    <tr>
                        <td>Visits</td>
                        <td>Total score</td>
                    </tr>
                    <tr>
                        <td>{{ card.visits }}</td>
                        <td>{{ card.score }}</td>
                    </tr>
                </table>
            </div>
        </div>
    {% else %}
        <form method="post">
            <label for="addcard">Add card</label>
            <input type="text" name="number" id="addcard" placeholder="Must be a number of 9 characters" maxlength="9"/>
            <button class="btn" type="submit" name="submit">Active Card</button>
        </form>
    {% endif %}
</div>