<div class="card row offers-infos">
    {% if card %}
        {% if cardsOffers %}
                <div class="carousel">
                    {% for cardsOffer in cardsOffers %}
                            <div class="carousel-item">
                                    <div class="card-panel red" style="width: 180px; height: 180px;">
                                            <span class="white-text">{{ cardsOffer.offer.description }}</span>
                                    </div>
                            </div>
                    {% endfor %}
                </div>
        {% else %}
                <p>There is no available offers.</p>
        {% endif %}
    {% else %}
            <p>You must have a card to access to our offers.</p>
    {% endif %}
</div>
