{% extends 'base.html.twig' %}
{% block body %}
{% endblock %}
{% block modals %}
    <div id="modal1" class="modal" style="width: 25%">
        {% include 'security/login.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
    </script>
{% endblock %}