{% extends 'staff/staff.html.twig' %}

{% block body %}

<div class="form-row center center mx-auto">

    <div class="card" style="width: 400px; margin:auto;">
        <span class="card-title">Find a customer</span>
        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a id="tab-bycard" class="active" href="#by-card">Search by card</a></li>
                <li class="tab"><a id="tab-byname" href="#by-name">Search by name</a></li>
            </ul>
        </div>
        <div class="card-content">
            <div id="by-card">
                <form action="" method="post">
                    <label for="">Search by card</label>
                    <input type="text" name="search_field">
                    <input type="submit" value="Search" class="waves-effect waves-light btn retro-rose">
                </form>
            </div>
            <div id="by-name">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button id="search" type="submit" class="waves-effect waves-light btn retro-rose">Search</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}