{% extends 'staff/staff.html.twig' %}

{% block body %}
    <div class="row customer-card-infos">

    <div class="col xs12 s12 m12 xl3">
        {% include 'partials/customer_infos.html.twig' %}
    </div>

    <div class="col xs12 s12 m12 xl9">
        {% include 'partials/card_infos.html.twig' %}
        {% if customer.card %}
            <div class="card">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a class="active" href="#offers-card">Offers</a></li>
                        <li class="tab"><a href="#game-sessions-card">Game Sessions</a></li>
                    </ul>
                </div>
                <div class="card-content">
                    <div id="offers-card">
                        {% include 'partials/offers_infos.html.twig' %}
                    </div>
                    <div id="game-sessions-card">
                        {% include 'partials/game_sessions_infos.html.twig' %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block modals %}
    <div id="modal1" class="modal">
        <div class="card login-card">
            <span class="card-title">Change card number</span>
        {{ form_start(form) }}

        {{ form_row(form.number) }}
        <button type="submit" id="submit" class="btn">Edit</button>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });
    </script>
{% endblock %}

