.retro-rose{
    background-color: #F13280;
}
.retro-cyan{
    background-color: #29B5AD;
}
.retro-jaune{
    background-color: #FCC66C;
}
.retro-noir{
    background-color: #19173F;
}
.retro-noir-bis{
    background-color: #19304C;
}
