.retro-rose {
  background-color: #F13280;
}
.retro-rose:hover {
  background-color: #F84981;
}
.retro-cyan {
  background-color: #29B5AD;
}
.retro-cyan:hover {
  background-color: #34C2BA;
}
.retro-jaune {
  background-color: #FC985C;
}
.retro-jaune:hover {
  background-color: #FCC66C;
}
.retro-cyan-text {
  color: #29B5AD;
}
.retro-rose-text {
  color: #F84981;
}
.retro-jaune-text {
  color: #FC985C;
}
hr {
  border-color: #F13280;
}
body {
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../images/background.jpg");
  background-color: #161B32;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}
main .container {
  z-index: 2;
  height: 100%;
  padding-top: 50px;
}
.container-frame {
  background-color: rgba(22, 27, 50, 0.65);
  padding: 0 40px;
}
.content {
  padding-top: 50px;
  padding-bottom: 0;
}
.section {
  padding-bottom: 0;
}
.section .fullwidth {
  padding: 0 0 60px;
}
.big-logo {
  z-index: 4;
  display: block;
  margin: 100px auto;
}
main {
  flex: 1 0 auto;
}
h1 {
  text-align: center;
}
.main-nav {
  z-index: 3;
  background-color: rgba(22, 27, 50, 0.4);
  box-shadow: none;
  border-bottom: 1px solid rgba(41, 181, 173, 0.33);
}
.main-nav a:hover {
  background-color: rgba(41, 181, 173, 0.33);
  color: white;
}
.main-nav ul li.active {
  background-color: rgba(41, 181, 173, 0.33);
}
.main-nav ul li.active a {
  color: white;
}
.main-nav .brand-logo:hover {
  background-color: transparent;
}
.drag-target {
  z-index: 5;
}
#sidenav-overlay {
  z-index: 1;
}
.index-btn {
  margin-bottom: 80px;
}
.fullwidth {
  width: 100%;
  background-color: rgba(22, 27, 50, 0.9);
  margin-top: 0;
  margin-bottom: 0;
}
.fullwidth .carousel-container {
  padding-bottom: 50px;
}
.fullwidth .transparent {
  background-color: transparent;
}
.bg-gradiant-1 {
  background-color: rgba(22, 27, 50, 0.45);
}
.bg-gradiant-2 {
  background-color: rgba(22, 27, 50, 0.6);
}
.bg-gradiant-3 {
  background-color: rgba(22, 27, 50, 0.8);
}
.transparent {
  background-color: transparent;
}
.page-footer {
  border-top: 1px solid rgba(41, 181, 173, 0.33);
  background-color: #161B32;
  opacity: 0.8;
}
.card {
  background-color: rgba(22, 27, 50, 0.85);
  -webkit-box-shadow: 0 3px 3px 0 rgba(41, 181, 173, 0.1), 0 2px 6px 0 rgba(41, 181, 173, 0.08), 0 4px 2px -3px rgba(41, 181, 173, 0.16);
  box-shadow: 0 3px 3px 0 rgba(41, 181, 173, 0.1), 0 2px 6px 0 rgba(41, 181, 173, 0.08), 0 4px 2px -2px rgba(41, 181, 173, 0.16);
}
.card .tabs {
  background-color: #323853;
}
.card .tabs .tab a {
  color: #29B5AD;
}
.card .tabs .indicator {
  background-color: #29B5AD;
}
.modal-card {
  padding: 50px;
  margin: 0;
  background-color: #161B32;
}
.modal-card #form_number {
  margin-bottom: 30px;
}
table {
  margin: 0 auto;
  margin-bottom: 50px;
}
table .highlight > tbody > tr:hover {
  background-color: #1E3E52;
}
table thead td {
  color: #29B5AD;
}
table thead td a {
  color: #29B5AD;
}
table.bordered > thead > tr,
table.bordered > tbody > tr {
  border-color: rgba(41, 181, 173, 0.4);
}
table.available-cards {
  margin-top: 0px;
}
.pagination li.active {
  background-color: #F13280;
}
.pagination li a {
  color: white;
}
.pagination li a:hover {
  background-color: #F84981;
}
form {
  margin-top: 40px;
  margin-bottom: 40px;
}
form button[type=submit] {
  margin: 0 auto;
  display: block;
  background-color: #F13280;
}
form button[type=submit]:hover {
  background-color: #F84981;
}
form select.browser-default {
  color: white;
  background-color: transparent;
}
.container .card-player {
  margin: 20px auto;
  width: 95%;
  padding: 15px;
  list-style-type: none;
}
.add-card {
  width: 80%;
  border-radius: 15px;
  display: block;
  margin: 40px auto;
  -webkit-box-shadow: 0 6px 6px 0 rgba(41, 181, 173, 0.1), 0 4px 12px 0 rgba(41, 181, 173, 0.08), 0 8px 4px -6px rgba(41, 181, 173, 0.16);
  box-shadow: 0 6px 6px 0 rgba(41, 181, 173, 0.1), 0 4px 12px 0 rgba(41, 181, 173, 0.08), 0 8px 4px -6px rgba(41, 181, 173, 0.16);
}
.add-card form {
  padding: 40px;
}
.add-card form button {
  margin: 5px;
  display: inline;
}
.customer-infos {
  padding: 0 15px;
}
.customer-infos .card-title {
  margin-top: 20px;
}
.card-infos {
  padding: 10px 15px;
}
.card-infos .row {
  position: relative;
  left: 75px;
}
.card-infos table {
  margin: 0;
  line-height: 0.5;
}
.card-infos .card-number {
  top: 30px;
  position: relative;
}
.collapsible,
.collapsible-header,
.collapsible-body {
  border-color: #29B5AD;
  background-color: #161B32;
}
.collapsible table,
.collapsible-header table,
.collapsible-body table {
  margin: 0;
}
.collapsible .gamesession-center,
.collapsible-header .gamesession-center,
.collapsible-body .gamesession-center {
  border-bottom: 1px solid #29B5AD;
  font-size: medium;
  padding: 15px;
}
.carousel .offer-description {
  text-align: center;
  padding: 20px;
}
.carousel .offer-status {
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  font-size: larger;
  margin: auto;
  margin-top: 50px;
}
.alert {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  background-color: #29B5AD;
  color: white;
  border-radius: 2px;
  padding: 15px;
}
.alert-error {
  background-color: #F13280;
}
.picker__box .picker__date-display {
  background-color: #29B5AD;
}
.picker__box .picker__container__wrapper {
  background-color: #161B32;
}
.picker__box .clockpicker-plate {
  background-color: #585d72;
  color: white;
}
.picker__box .clockpicker-tick {
  color: white;
}
.picker__box .picker__day {
  color: white;
}
.picker__box .picker__close {
  color: #F13280;
}
.picker__box .picker__clear {
  color: #FC985C;
}
.picker__box .picker__select--month,
.picker__box .picker__select--year {
  background-color: #161B32;
}
.picker__box .picker__nav--prev:hover,
.picker__box .picker__nav--next:hover {
  background-color: #161B32;
}
