{% extends 'staff/staff.html.twig' %}

{% block body %}
    <p class="firstname">{{ customer.firstname }}</p>
    <p class="lastname">{{ customer.lastname }}</p>
    <p class="nickname">{{ customer.nickname }}</p>
{% endblock %}