{% extends 'staff/staff.html.twig' %}

{% block body %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button type="submit" id="submit">Submit</button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

{% endblock %}

