{% extends 'staff/staff.html.twig' %}

{% block body %}


    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">First Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Telephone</label>
                </div>
            </div>
        </form>
    </div>


<div class="form-row center center mx-auto" >

    <div class="col-auto">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">rechercher</button>
        {{ form_end(form) }}
    </div>

    <form action="" method="post">
        <div class="col-auto">
            <label for="">search by card</label>
            <input type="text" name="search_field">
            <input type="submit" value="search" class="btn btn-primary">
        </div>
    </form>

</div>
{% endblock %}