{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/customer.css') }}"  media="screen,projection"/>
{% endblock %}

{% block nav %}
        <li><a href="{{ path('logout') }}" id="logout">logout</a></li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}