{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <p class="center">Please enter the email adress linked to your Shinigami Laser account.</p>
        <form method="post" name="truc">
            <div class="input-field col s12">
                <input id="emailField" name="email" type="email" class="validate">
                <label for="emailField">Email</label>
            </div>
            <button type="submit" id="reset" class="btn">Reset</button>
        </form>
    </div>
</div>
{% endblock %}

