{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
       {% include 'security/register_modal.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('js/form/datepicker.js') }}"></script>
{% endblock %}