{% extends 'base.html.twig' %}

{% block body %}
    <form method="post" name="truc">
        <label for="emailField">Email</label>
        <input type="email" name="email" id="emailField">
        <button type="submit" id="reset" class="btn-large">Reset</button>
    </form>
{% endblock %}

